html {
    font-size: 50%; 
    font-family: Arial, sans-serif;
    background-color: #fcfcfc;
    color: #333333;
}

body {
    margin: 0;
    padding: 0;
}

header, .system-title {
    text-align: center;
    font-size: 3rem;          
    margin-top: 4rem;         
    margin-bottom: 4rem;      
    font-weight: bold;
}

.container {
    width: 90%;
    max-width: 150rem;        
    margin: 0 auto;
    padding: 2rem;            
}

.section-title {
    font-size: 2.25rem;       
    margin-bottom: 2rem;      
}

.btn {
    display: inline-block;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
    
    padding: 0.8em 1.6em;     
    border-radius: 0.75rem;    
}

.btn-primary {
    font-size: 1.75rem;      
    background-color: #007bff;
    color: white;
    margin-bottom: 3rem;     
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-warning {
    font-size: 1.5rem;       
    background-color: #ffc107;
    color: #212529;
}

.btn-warning:hover {
    background-color: #e0a800;
}

.btn-danger {
    font-size: 1.5rem;        
    background-color: #dc3545;
    color: white;
}

.btn-danger:hover {
    background-color: #bd2130;
}


.student-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;         
    background-color: #ffffff;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.05);
}

.student-table th {
    background-color: #f8f9fa;
    color: #495057;
    font-weight: bold;
    text-align: left;
    border-bottom: 0.25rem solid #dee2e6; 
    
    font-size: 1.75rem;      
    padding: 1.5rem 2rem;    
}

.student-table td {
    border-bottom: 0.125rem solid #dee2e6; 
    
    font-size: 1.75rem;       
    padding: 1.5rem 2rem;     
    vertical-align: middle;
}


.actions-cell {
    display: flex;
    gap: 1rem;               
}
